<a href="/add_news">Добавить новость</a>
{% for item in news %}
    <div class="alert alert-dark" role="alert">
        <h2>{{item[1]}}</h2>
        <div>{{item[2]}}</div>
        <a href="/delete_news/{{item[0]}}">Удалить новость</a>
    </div>
{% endfor %}