{% extends "base.html" %}
 
{% block content %}
    <h1>Привет, {{ username }}!</h1>
    <h4>Мои новости:</h4>
    <table border="1" width="90%" bgcolor="faf5b4">
        {% for i, head, content, j in content_list %}
        <tr>
            <th width="40%">{{head}}</th>
            <th>{{content}}</th>
        </tr>
        {%endfor%}
    </table>
{% endblock %}